[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://alpine-wheels.github.io/index"
verify_ssl = true
name = "alpine-wheels"

[packages]
# WSGI/ASGI web server
granian = "*"
# REST API
fastapi = "*"
pydantic-settings = "*"
# Machine learning
scikit-learn = "~=1.3"
nltk = "*"
# Utils
filelock = "*"

[dev-packages]
ruff = "*"
black = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
